/*! Se aplicarán estos estilos cuando el tamaño del dispositivo sea menor o igual a 768px */

.experiences {
  display: flex;
  flex-direction: column;
}

.experiences-body {
  background-color: var(--experience-color);
  color: var(--white-color);
}

.wave {
  width: 100%;
  position: relative;
  top: 2px;
}

.wave_bottom {
  transform: scaleY(-1);
  top: -2px;
}

/*-> #darkModeWave {
  width: 100%;
  position: relative;
  top: 0px;
} */

.experiences-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 30px;
  margin: 25px;
}

.experience-date {
  font-size: 25px;
  font-weight: bold;
  color: var(--yellow-color);
}

.experience-company {
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 5px;
}

.experience-position {
  font-weight: 500;
  font-size: 18px;
  margin-top: 20px;
}

.experience-description {
  font-weight: 400;

  margin-top: 10px;
}

.experience-description ul li {
  padding-bottom: 10px;
  font-size: 17px;
  line-height: 1.5;
}

.experience-description ul li span {
  font-size: 15px;
  font-style: italic;
}

.experience {
  padding: 25px;
  max-width: 500px;
  margin: 0 auto;
}

/*! Se aplicarán estos estilos cuando el tamaño del dispositivo sea mayor o igual a 768px */

@media only screen and (min-width: 768px) {
  .experiences-title {
    font-size: 40px;
    margin: 35px 0;
  }

  .experience-date {
    font-size: 40px;
  }

  .experience-company {
    font-size: 25px;
  }

  .experience-position {
    font-weight: bold;
    font-size: 21px;
    margin-top: 20px;
  }

  .experience-description {
    font-size: 24px;
    margin-top: 10px;
    line-height: 1.3;
  }

  .experience-description ul li {
    padding-bottom: 10px;
    font-size: 20px;
    line-height: 1.5;
  }

  .experience {
    padding: 0;
  }

  .experience_left {
    text-align: right;
  }
  .experience_right {
    text-align: left;
    margin-left: 80px;
  }
  .experiences-grid {
    display: grid;
    grid-template-columns: auto 2px auto;
    gap: 20px 70px;
    padding: 70px;
    justify-content: center;
    max-width: 768px;
    margin: 0 auto;
  }

  .line {
    background-color: var(--white-color);
    position: relative;
  }

  .line::before,
  .line::after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-color: var(--white-color);
    border-radius: 50%;

    position: absolute;
    top: -20px;
    left: -9px;
  }

  .line::after {
    top: 100%;
    z-index: 1;
  }
}

/*! Estilos para iPad Pro: 1024px x 1366px -->> Se aplicarán los estilos de esta Media Query cuando el tamaño del dispositivo sea >= 1024px (es decir, desde 1024px en adelante)*/

@media only screen and (min-width: 1024px) {
  .experiences-title {
    font-size: 40px;
    margin: 25px;
  }
  .experience-date {
    font-size: 35px;
  }

  .experience-company {
    font-size: 25px;
  }
  .experience-description ul li {
    padding-bottom: 10px;
    font-size: 20px;
    line-height: 1.5;
  }
  .experiences-grid {
    display: grid;
    grid-template-columns: auto 2px auto;
    gap: 20px 70px;
    padding: 70px;
    justify-content: center;
    max-width: 980px;
    margin: 0 auto;
  }
}
